### Exercise 1 Solution

In [1]:

# Exercise 1 Solution
import pandas as pd

# Load the dataset
url = 'https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@wine.csv'
data = pd.read_csv(url)

# Display the first few rows
data.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,high_quality
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,0
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,0
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,0
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,1
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,0

### Exercise 2 Solution

In [2]:

# Exercise 2 Solution

# Create the 'is_red' column: 1 for 'red' and 0 for 'white'
data['is_red'] = data['color'].apply(lambda x: 1 if x == 'red' else 0)

# Drop the 'color', 'quality', and 'high_quality' columns
numeric_data = data.drop(['color', 'quality', 'high_quality'], axis=1)

# Display the first few rows of numeric data
numeric_data.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,is_red
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,1
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,1
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1

### Exercise 3 Solution

In [4]:

# Exercise 3 Solution
from sklearn.preprocessing import StandardScaler

# Standardize the numeric data
scaler = StandardScaler()
numeric_data_normalized = pd.DataFrame(scaler.fit_transform(numeric_data), columns=numeric_data.columns)

# Display the first few rows of normalized data
numeric_data_normalized.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,is_red
0,-1.421571,0.142473,2.188833,-2.192833,-0.744778,0.569958,-1.100140,-1.446359,1.034993,1.813090,0.193097,-0.915464,1.75019
1,-1.420875,0.451036,3.282235,-2.192833,-0.597640,1.197975,-0.311320,-0.862469,0.701486,-0.115073,0.999579,-0.580068,1.75019
2,-1.420179,0.451036,2.553300,-1.917553,-0.660699,1.026697,-0.874763,-1.092486,0.768188,0.258120,0.797958,-0.580068,1.75019
3,-1.419483,3.073817,-0.362438,1.661085,-0.744778,0.541412,-0.762074,-0.986324,1.101694,-0.363868,0.327510,-0.580068,1.75019
4,-1.418787,0.142473,2.188833,-2.192833,-0.744778,0.569958,-1.100140,-1.446359,1.034993,1.813090,0.193097,-0.915464,1.75019

### Exercise 4 Solution

In [5]:

# Exercise 4 Solution
from sklearn.model_selection import train_test_split

# Create the feature set X and the target variable y
X = numeric_data_normalized
y = data['high_quality']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the train and test sets
(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

((5197, 13), (1300, 13), (5197,), (1300,))

### Exercise 5 Solution

In [8]:

# Exercise 5 Solution
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Initialize the k-NN classifier with k=5
knn = KNeighborsClassifier(n_neighbors=5)

# Fit the classifier to the training data
knn.fit(X_train, y_train)

# Predict on the test set and calculate the accuracy
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

# Display the accuracy
print(accuracy)

0.7476923076923077