In [5]:

# DO NOT EDIT THIS CODE
import pandas as pd
import numpy as np
birddata = pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@bird_tracking.csv", index_col=0)
birddata.head()

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,71,2013-08-15 00:18:08+00,851,-150.469753,49.419859,2.120733,0.150000,Eric
1,68,2013-08-15 00:48:07+00,851,-136.151141,49.419880,2.120746,2.438360,Eric
2,68,2013-08-15 01:17:58+00,851,160.797477,49.420310,2.120885,0.596657,Eric
3,73,2013-08-15 01:47:51+00,851,32.769360,49.420359,2.120859,0.310161,Eric
4,69,2013-08-15 02:17:42+00,851,45.191230,49.420331,2.120887,0.193132,Eric

### Exercise 1 Solution

In [6]:
# Assuming birddata DataFrame has already been defined and loaded properly
import pandas as pd

# Group the data by 'bird_name' and calculate mean for 'speed_2d' and 'altitude'
grouped_birds = birddata.groupby("bird_name")

# Calculate the mean for speed_2d and altitude for each bird
mean_speeds = grouped_birds['speed_2d'].mean()
mean_altitudes = grouped_birds['altitude'].mean()

# Display the mean speeds and altitudes
print("Mean Speeds (speed_2d) for each bird:")
print(mean_speeds)
print("\nMean Altitudes for each bird:")
print(mean_altitudes)

Mean Speeds (speed_2d) for each bird:
bird_name
Eric     2.300545
Nico     2.908726
Sanne    2.450434
Name: speed_2d, dtype: float64

Mean Altitudes for each bird:
bird_name
Eric     60.249406
Nico     67.900478
Sanne    29.159922
Name: altitude, dtype: float64

### Exercise 2 Solution

In [7]:

# Exercise 2 Solution

# Convert 'date_time' to datetime format and create a new 'date' column
birddata['date'] = pd.to_datetime(birddata['date_time']).dt.date

# Group by 'date' and calculate mean altitude
grouped_by_date = birddata.groupby('date')
mean_altitudes_per_day = grouped_by_date['altitude'].mean()

# Display the first few mean altitudes per day
mean_altitudes_per_day.head()

date
2013-08-15    134.092000
2013-08-16    134.839506
2013-08-17    147.439024
2013-08-18    129.608163
2013-08-19    180.174797
Name: altitude, dtype: float64